@use "../../styles/varible" as var;

.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'nav'
    'main'
    'footer';
  .nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var.$color-secondary;
    z-index: 999;
  }
  .main {
    grid-area: main;
    position: relative;
  }
  .footer {
    grid-area: footer;
    position: relative;
  }
}
