.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'nav'
    'main'
    'footer';
  .nav {
    grid-area: nav;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  .main {
    grid-area: main;
    position: relative;
  }
  .footer {
    grid-area: footer;
    position: relative;
  }
}
